h1 {
  color: #01579B;
  font-size: 5vh;
  text-align: center;
  font-family: 'Damion';
}

footer {
  background-color: #555;
  color: white;
}

ul {
  text-align: center;
  font-family: 'Itim';
  font-size: 2.5vh;
}

a {
  color: #FFF;
}

a:hover {
  color: #B2EBF2;
}

a:visited {
  color: #B2EB02;
}

p {
  padding: 1vh 5vw;
  text-align: center;
  font-family: 'Itim';
  font-size: 2.5vh;
}

.bodyimg {
  margin: 3vh auto;
  width: 45vw;
}

.navbar {
  background-color: #B2EBF2;
}

@media screen and (max-width: 767px) {
  .bodyimg {
    width: 75vw;
    margin: auto;
  }

  ul {
    text-align: center;
    font-family: 'Itim';
    font-size: 4.5vh;
    margin: 2vh;
  }
}
