@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
}

h1 {
  text-align: center;
  font-family: 'Damion';
}

body {
  margin-top: 5vh;
}

footer {
  background-color: #555;
  color: white;
}

ul {
  text-align: center;
  font-family: 'Itim';
  font-size: 2.5vh;
}

p {
  text-align: center;
  font-family: 'Itim';
  font-size: 2.5vh;
}

.bodyimg {
  margin: 3vh auto;
  width: 65vw;
}

.navbar-brand {
  padding-top: 1vh;
}

.logo {
  margin-top: 0;
  width: 3vw;
}

.navbar {
  background-color: #B2EBF2;
}

.row.content {
  height: auto;
}

.sidenav {
  padding-top: 20px;
  height: 100%;
}
