body {
  background-color: #000000;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -10px
}

h1 {
 position: relative;
 margin: 0px;
 padding: 0px;
}

p {
  text-align: left;
}

ol {
  text-align: left;
}

iframe {
  display: block;
  margin: auto;
}

.screen {
  margin: auto;
  display: block;
}

.logo {
  width: 50px;
  float: right;
  top: 40px;
  right: 15px;
  border-radius: 5%;
  position: absolute;
}

.onglet {
 border-top-left-radius: 20%;
 border-top-right-radius: 20%;
 display: inline-block;
 margin: auto;
 padding: 3px;
 border: 1px solid white;
 cursor: pointer;
}

.onglet_0 {
 background: #2C7763;
 border-bottom: 1px solid white;
}

.onglet_1 {
 background: #74BF7C;
 border-bottom: 0px solid white;
 padding-bottom: 4px;
}

.contenu_onglet {
 background: url("img/font.jpg");
 text-align: center;
 background-color: #74BF7C;
 border:1px solid white;
 margin-top: -1px;
 padding: 5px;
 display: none;
}

.form {
  width: 40%;
  margin: 5px auto;
  text-align: center;
  display: block;
}

.info {
  width: 40%;
  margin: auto;
  text-align: center;
  display: block;
  float: center;
}

.indication {
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}

.required {
  color: #FF1919;
  text-shadow: 1px 1px #000;
}

#content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
