body {
  background-color: #FFF;
  margin: 10px 15px;
}

ul {
  font-family: 'Sniglet';
  color: #FFD600;
  text-shadow: 1px 1px #000;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -10px
}

h1 {
  font-family: 'Marko One';
  color: #FF4E04;
  text-shadow: 1px 1px #FFF;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}

p {
  font-family: 'Sniglet';
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  font-size: 25px;
  text-align: left;
  color: #FFD600;
  text-shadow: 1px 1px #000;
}

ol {
  font-family: 'Sniglet';
  color: #FFD600;
  text-shadow: 1px 1px #000;
  text-align: left;
}

iframe {
  display: block;
  margin: auto;
}

aside {
  display: block;
  float: right;
}

.screen {
  margin: auto;
  display: block;
}

.logo {
  width: 75px;
  border-radius: 15%;
}

.onglet {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  display: inline-block;
  margin: auto;
  padding: 3px;
  border: 1px solid white;
  cursor: pointer;
}

.onglet_0 {
  font-family: 'Joti One';
  color: #FFF;
  font-size: 20px;
  background: #05293F;
  border-bottom: 1px solid white;
  box-shadow: 6px 5px 18px 0px rgba(0, 0, 0, 1);
}

.onglet_1 {
  font-family: 'Joti One';
  font-size: 20px;
  color: #FF4E04;
  text-shadow: 1px 1px #000;
  background: #75BC9A;
  border-bottom: 0px solid white;
  padding-bottom: 4px;
  box-shadow: 6px 5px 18px 0px rgba(0, 0, 0, 1);

}

.contenu_onglet {
  background: url("img/font.jpg");
  text-align: center;
  background-color: #74BF7C;
  border:1px solid white;
  margin-top: -1px;
  padding: 5px;
  display: none;
  border-top-right-radius: 2%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  box-shadow: 3px 5px 18px 0px rgba(0, 0, 0, 1);
}

.form {
  width: 55%;
  margin: 5px auto;
  text-align: center;
  display: block;
}

.info {
  font-size: 20px;
  width: 40%;
  margin: auto;
  text-align: center;
  display: block;
  float: center;
}

.indication {
  font-size: 15px;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}

.required {
  color: #FF1919;
  text-shadow: 1px 1px #000;
}

#content {
  width: 45%;
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15%;
}
